
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.upcoming-button {
  margin-left: 20px;
}